#set($subject = "$device.name: command result received")
От тепловоза №$device.name получен результат команды: $position.getString("result") в $dateTool.format("HH:mm:ss dd-MM-yyyy", $event.eventTime, $locale, $timezone)
