#set($subject = "$device.name: inactive")
#set($lastUpdate = $dateTool.getDate())
#set($ignore = $lastUpdate.setTime($event.getLong("lastUpdate")))
Тепловоз №$device.name не доступен для наблюдения с $dateTool.format("HH:mm:ss dd-MM-yyyy", $lastUpdate, $locale, $timezone)
