#set($subject = "$device.name: maintenance is required")
Тепловозу №$device.name требуется $dateTool.format("dd-MM-yyyy", $event.eventTime, $locale, $timezone) сделать обслуживание: $maintenance.name
