#set($subject = "$device.name: media file received")
С тепловоза №$device.name $event.getString("media") получено: $event.getString("file") в $dateTool.format("dd-MM-yyyy HH:mm:ss", $event.eventTime, $locale, $timezone)
