#set($subject = "$device.name: queued command sent")
Поставленная в очередь команда отправлена на тепловоз №$device.name в $dateTool.format("HH:mm:ss dd-MM-yyyy", $event.eventTime, $locale, $timezone)
